In [16]:
import pandas as pn

file=pn.read_csv("m.csv",header=2,na_values=["Independent"],names=["Movies","Genre","Lead Studio",	"Audience score %",	"Profitability"	,"Rotten Tomatoes %", 	"Worldwide Gross",	"Year"])

file.to_csv("new.csv",index=False,header=False)
file

,Movies,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
2,You Will Meet a Tall Dark Stranger,Comedy,NaN,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
5,Water For Elephants,Drama,20th Century Fox,72,3.081421,60,$117.09,2011
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008
...,...,...,...,...,...,...,...,...
72,Across the Universe,romance,NaN,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,NaN,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

In [15]:
f = pn.read_excel("mymovies.xlsx")
f

C:\Users\M.Zaid Naeem\AppData\Local\Programs\Python\Python313\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,Title,Domestic Gross,Metacritic score
0,NaN,NaN,NaN
1,Black Panther,700059566.0,88.0
2,Avengers: Infinity War,678815482.0,68.0
3,Incredibles 2,608581744.0,80.0
4,Jurassic World: Fallen Kingdom,416769345.0,51.0
5,Deadpool 2,318491426.0,66.0
6,Dr. Seuss' The Grinch,265499485.0,51.0
7,Mission: Impossible - Fallout,220159104.0,86.0
8,Ant-Man and the Wasp,216648740.0,70.0
9,Solo: A Star Wars Story,213767512.0,62.0
10,Venom,213205181.0,35.0
11,A Star Is Born,201046727.0,88.0
12,Aquaman,189375000.0,55.0
13,Bohemian Rhapsody,189207042.0,48.0
14,A Quiet Place,188024361.0,82.0
15,Ralph Breaks the Internet,175907767.0,71.0
16,Crazy Rich Asians,174016156.0,74.0
17,Hotel Transylvania 3: Summer Vacation,167510016.0,54.0
18,Halloween,159326595.0,67.0
19,Fantastic Beasts: The Crimes of Grindelwald,156629713.0,52.0
20,The Meg,145443742.0,46.0

In [41]:
ff=f.iloc[:10,:]
fe=f.iloc[10:,:]

ff.reset_index(inplace=True)
ff=ff.drop(columns=["index"])
ff=ff.drop(index=0)

fe.reset_index(inplace=True)
fe=fe.drop(columns=["index"])
fe=fe.drop(index=0)

with pn.ExcelWriter("final.xlsx") as writer:
    ff.to_excel(writer, sheet_name="data1", index=False)
    fe.to_excel(writer, sheet_name="data2", index=False)

PermissionError: [Errno 13] Permission denied: 'final.xlsx'